<h3>Workshop Schedule</h3>
<div class="row">
  <div class="col-md-10">
    <table class="table table-striped">
      <tr><td>Date</td>
        <td>Day</td>
        <td>Hours</td>
        <td>Topic</td>
        <td>Instructors</td>
      </tr>
      <tr>   
        <td>August 21, 2023</td>
        <td>Day 1</td>
        <td>9:00 am - 1:00 pm (breaks every 50 minutes)</td>        
        <td><a href="https://swcarpentry.github.io/shell-novice/">The Unix Shell</a></td>
        <td>Elizabeth McAulay and Tim Dennis</td>  
      </tr>
      <tr>            
        <td>August 22, 2023</td>   
        <td>Day 2</td>
        <td>9:00 am - 1:00 pm (breaks every 50 minutes)</td>      
        <td><a href="https://librarycarpentry.org/lc-python-intro/">Introduction to Python Part 1</a></td>
        <td>Jamie Jamison and Doug Daniels</td>  
      </tr>
      <tr>            
        <td>August 23, 2023</td>   
        <td>Day 3</td>
        <td>9:00 am - 1:00 pm (breaks every 50 minutes)</td>      
        <td><a href="https://librarycarpentry.org/lc-python-intro/">Introduction to Python Part 2</a></td>
        <td>Jamie Jamison and Doug Daniels</td>  
      </tr>
       <tr>            
        <td>August 24, 2023</td>   
        <td>Day 4</td>
        <td>9:00 am - 1:00 pm (breaks every 50 minutes)</td>      
        <td><a href="https://swcarpentry.github.io/r-novice-gapminder/">R for Reproducible Scientific Analysis</a></td>
        <td>Kaija Gahm and Ibraheem Ali</td>  
      </tr>
       <tr> <td>August 29, 2023</td> <td>Day 5</td> <td>9:00 am - 1:00 pm (breaks every 50 minutes)</td> <td><a href="https://datacarpentry.org/image-processing/">Image Processing with Python</a></td>
         <td>Deidre Brin and Leigh Phan</td>  
      </tr>
    </table>
  </div>
</div>
