<h3>Workshop Schedule</h3>
<div class="row">
  <div class="col-md-10">
    <table class="table table-striped">
      <tr><td>Date</td>
        <td>Day</td>
        <td>Hours</td>
        <td>Topic</td>
        <td>Instructors</td>
      </tr>
       <tr>            
        <td>August 24, 2023</td>   
        <td>Day 1</td>
        <td>9:00 am - 1:00 pm (breaks every 50 minutes)</td>      
        <td><a href="https://swcarpentry.github.io/r-novice-gapminder/">R for Reproducible Scientific Analysis</a></td>
        <td>Kaija Gahm and Ibraheem Ali</td>  
      </tr>
    </table>
  </div>
</div>
